@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: pink;
    color: white;
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 1000;
}

header img {
    width: 50px;
}

header h1 {
    margin-left: 0;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav h1 {
    font-size: 20px;
    white-space: nowrap;
}

button.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    overflow-x: hidden;
}

section {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    margin-bottom: 100px;
    overflow-x: hidden;
}

.about-section p {
    margin: 10px 0 25px 0;
}

.about-section img {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d9b2d4;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    background-color: #efb8e6;
}

.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #ffe2f0a3;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.services-section h2 {
    margin: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th {
    background-color: #d9b2d4;
    padding: 12px;
    text-align: center;
    border: 1px solid black;
}

.table td {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: left;
    scrollbar-width: none;
}

.product-card {
    height: 380px;
    width: 200px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.product-card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    height: 200px;
    width: 150px;
    border-radius: 8px;
}

.product-card h3 {
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #d9b2d4;
    margin-top: 18px;
    margin-bottom: 10px;
}

.product-card figcaption {
    font-size: 13px;
    margin: 0px 0;
    color: #333;
    height: 45px;
}

.product-card p {
    height: 40px;
    color: #555;
    font-size: 13px;
}

footer {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 25px;
}

.social-icons a:hover {
    background: #f0f0f0;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact form {
    width: 100%;
    max-width: 700px;
    margin: auto;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 40px;
    text-align: left;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #d9b2d4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}


@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav {
        margin-left: 10px;
        margin-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: pink;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px 0;
        text-align: left;
    }

    nav ul li {
        margin: 10px 0;
    }

    button.menu-toggle {
        display: inline-block;
    }

    nav ul.active {
        display: flex;
    }

    nav h1 {
        font-size: 20px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    main {
        margin-top: 80px;
    }

    section {
        width: 90%;
        padding: 20px;
        text-align: center;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 14px;
    }

    .about-section img {
        max-width: 180px;
        margin-bottom: 10px;
        order: -1;
    }

    .services-section h2 {
        font-size: 24px;
        margin: 5px;
    }

    .services-section p {
        font-size: 14px;
    }

    .table th,
    .table td {
        padding: 8px;
        font-size: 12px;
    }

    .products {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: left;
    }

    .product-card {
        flex: 0 0 auto;
        height: 380px;
        width: 200px;
    }

    .product-card img {
        max-width: 100%;
        height: 200px;
        width: 150px;
        border-radius: 8px;
    }

    footer {
        font-size: 12px
    }
}

@media (min-width: 780px) and (max-width: 1024px) {
    header {
        padding: 15px;
    }

    nav {
        margin-left: 20px;
        margin-right: 20px;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li {
        margin: 0 15px;
    }

    nav h1 {
        font-size: 22px;
    }

    .about-section {
        text-align: left;
        padding: 20px 15px;
    }

    .about-section img {
        max-width: 250px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .services-section h2 {
        font-size: 28px;
    }

    .services-section p {
        font-size: 16px;
    }

    .table th,
    .table td {
        padding: 10px;
        font-size: 14px;
    }

    .product-card {
        width: 220px;
    }

    .product-card img {
        height: 180px;
    }

    footer {
        font-size: 14px;
    }

    .contact form {
        padding: 20px;
    }

    .contact input,
    .contact textarea {
        font-size: 14px;
    }
}